<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmitForm(frm)" #frm="ngForm">
                <!-- Email form-group -->
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input 
                        type="email" 
                        id="mail" 
                        class="form-control"
                        ngModel
                        name="mail"
                        required
                        email
                        #mail="ngModel">
                    <span class="help-block" *ngIf="!mail.valid && mail.touched">Please enter a valid email address</span>
                </div>
                <!-- End of email form-group -->

                <!-- Subscription dropdown form-group-->
                <div class="form-group">
                    <label for="subscriptionType">Subscription</label>
    
                    <select 
                        id="subscriptionType" 
                        class="form-control"
                        [ngModel]="defaultSubscription"
                        name="subscriptionType">
                        <option value="basic">Basic</option>
                        <option value="advanced">Advanced</option>
                        <option value="pro">Pro</option>
                    </select>
                </div>
                <!-- End of subscription dropdown form-group -->

                <!-- Password form-group -->
                <div class="form-group">
                    <label for="password">Password</label>                    
                    <input 
                        type="password" 
                        id="password" 
                        class="form-control"
                        [ngModel]=""
                        name="password"
                        required
                        password
                        #password="ngModel">
                    <span class="help-block" 
                        *ngIf="(password.value === null || password.value?.length === 0) && password.touched">
                        Please enter a password
                    </span>
                </div>
                <!-- End of password form-group -->

                <!-- Submit button -->
                <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]="!frm.valid">Submit</button>
                <!-- End of Submit button -->
            </form>

            <!-- Output div -->
            <div *ngIf="submitted">
                <h3>Your details</h3>
                <p>Email: {{ subscribedUser.email }}</p>
                <p>Subscription type: {{ subscribedUser.subsciptionType }}</p>
                <p>Password: {{ subscribedUser.password }}</p>
            </div>
            <!-- End of output div -->
        </div>
    </div>  
</div>
